body {
  font-family: Arial;
  background: #f4f6f8;
}

.card {
  width: 400px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

input, button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}
